body {
    background-color: hsl(40, 13%, 95%);
}

img {
    width: 50%; 
}

.blog-post-card {
    max-width: 25%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}