body {
    background-color: hsl(40, 13%, 95%);
    font-family: Arial, Helvetica, sans-serif;
}

.blog-post-card {
    margin-top: 150px;
    max-width: 25%;
    min-width: 350px;
    /* Center horizontally */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow:
        0 10px 20px hsla(0, 0%, 0%, 0.15),
        0 6px 6px hsla(0, 0%, 0%, 0.10);

}

.post-img {
    width: 100%;
    border-bottom: 2px solid hsl(249, 33%, 11%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.post-content {
    padding: 15px;
}

.post-title {
    color: hsl(220, 91%, 56%);
    margin: 19px;
}

.post-excerpt {
    color: rgb(107, 111, 114);
    margin: 16px;
    margin-left: 1px;
    margin-right: 1px;
}

.read-more {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: hsl(220, 91%, 56%);
    padding: 8px 10px;
    margin: 3px;
    border-radius: 5px;
}

.read-more:hover {
    background-color: hsl(220, 91%, 48%);
}