body{
    background-color: midnightblue;
    color:whitesmoke;
}

.container {
    background-color: #ffffff1a;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 5px 15px black;
}

.center {
    text-align: center;
}

.description {
    font-size: 1.2rem;
}

fieldset {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
}

fieldset legend {
    font-size: 1.3rem;
    font-weight: 600;
}

label {
    font-size: 1.2rem;
}

label:not(.contact-method) {
    display: block;
    margin: 10px 0;
}

input:not(.contact-method-radio-btn), textarea {
    background-color: #ffffff1a;
    width: 95%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

input, input::placeholder, textarea {
    color:whitesmoke;
}